extends layout

block content
  h1= title
  p Welcome to #{title}
  //#{svg}
  #workspace

  link(rel='stylesheet', href='/stylesheets/patternite.css')
  script(src="javascripts/patternite.js")
  script(type='text/javascript').
    var p= new patternite.Pattern(!{pattern});
    console.log(p);
    $('#workspace').ready(function(){
        patternite.workspace_init('workspace',p);
        });

    
    

    