doctype 5
html
  head
    title= 'Patternite'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery-1.10.2.min.js")
    script(src="javascripts/raphael-min.js")
  body
    block content